<h1>  Data Science Tools and Ecosystem </h1>

<h2> Author </h2>
Muaaz Bhamjee

In this notebook I will discuss Data Science Tools and the Data Science Ecosystem.

__Objectives:__<br>

* List popular languages used in Data Science
* List popular libraries used in Data Science
* Tabulate a list of  popular tools used in Data Science 
* Use Python to execute basic arithmetic
* Demonstrate the use Jupyter Lab, specifically Jupyter Notebooks

Three commonly used Data Science languages are:
1. Python
2. R
3. SQL

Some commonly used Data Science libraries include:
1. Tensorflow
2. PyTorch
3. Numpy
4. Matplotlib

|Data Science Tools|
|------------------|
|Github            |
|Jupyter Lab       |
|R-Studio IDE      |

<h3> Below are a few examples of evaluating arithmetic expressions in Python </h3>

In [2]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [5]:
x = 200 #time in minutes
y = 60 #number of minutes in hours
z = x/y #the time (x) in hours
print(z) #print the answer
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335